@model Test.Models.Contact

@{
    ViewData["Title"] = "ContactUs";
}

<style>
    .container {
        width: 150%;
    }
</style>
<br />
<br />
@*<div class="text-center" style="color: indigo;">
    <h1>Submit your ask</h1>
</div>*@
<div class="row ">
    <div class="col-md-6 offset-md-3">

        <div class="card-content">
            <style>
                .card-content {
                    background-color: cadetblue;
                    border: 10px solid #645e68;
                }
            </style>
            <br />
            <div class="text-center" style="color: mediumblue;">
                <h4>Do you need information please submit your question! </h4>
            </div>
            <br />
            <form asp-action="ContactUs">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-11">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-11">
                    <lable>Phone Number</lable>
                    @*<label asp-for="PnoneNumber" class="control-label"></label>*@
                    <input asp-for="PnoneNumber" class="form-control" />
                    <span asp-validation-for="PnoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-11">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-11">
                    <label asp-for="TextBox" class="control-label"></label>
                    <textarea asp-for="TextBox" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="TextBox" class="text-danger"></span>
                </div>
                <div class="form-group col-md-11">
                    <input type="submit" value="Submit" class="btn btn-danger" />
                </div>
            </form>
            
        </div>
    </div>
</div>


