
@{
    ViewData["Title"] = "FAQ";
}
<br/>
<br/>
<br/>
<br/>
<div class="" style="margin-left:18%;background-color: wheat;width: 40%;">
    <h1>Frequently Asked Questions</h1>
    <hr />
</div>

<div class="card5" style="margin-left: 20%;">      
    <h5>
        Question: How many days for shippting?
        </br>
        Ans: 14 Days regular, and express 7 days.
        </br>
        </br>
        Question: Is there any refund policy?
        </br>
        Ans: Yes, we provide 30 days money back gurantee for all of our products.
        <br />
        <br />
        Question: Do you have any promotion available?
        <br />
        Ans: Yes, we have promotion available on almost every occassion and use PM100 for 10% discount sitewide all the time.
        <br />
        <br />
        Question: Do you offer free shipping?
        <br />
        Ans: Yes, our regular shipping is free of charge.
    </h5>
</div>
<div/>
<div/>
<br/>
<br/>
<br/>
<br/>