
@{
    ViewData["Title"] = "submit";
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="card bg-light p-4 text-center" style="margin-top: 1%; width:1000px; margin-left: 15%">
    <h2>Thank you for confirming order!!</h2>
    <h2>You will get product delivery in 3 to 7 days!!</h2>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />